body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidenav-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.width-100 {
    width: 100%;
}


/* Snake Overlay */
.overlay {
    position: absolute;
    opacity: 0.9;
    text-align: center;
    padding-top: 40px;
    background-color: #ffffff;
}

    .overlay .title {
        font-size: 15px;
        font-weight: bold;
        display: block;
        width: 100%;
    }

.material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.ratingAndRelease {
    margin-bottom: 0px;
    margin-top: 10px;
}
/* End Snake Overlay */
